<div ng-show="jpmCtrl.editMode" ng-controller="EditorController as editCtrl">
    <div>
        <ol class="breadcrumb">
            <li><a href="#" ng-click="jpmCtrl.turnOff()">Display</a></li>
        </ol>
    </div>
    <div>
        <b>This page will allow you to create a new prayer request document.</b>
    </div>
    <div style="margin-top:15px; background-color:white;">
        <table>
            <tr>
                <td style="width:200px;">Week from: <input date-picker type="text" class="jpm-textfield form-control" placeholder="Start date" id="start-date" required> </td>
                <td style="width:200px;">to: <input date-picker type="text" class="jpm-textfield form-control" placeholder="End date" id="end-date"         required></td>
                <td style="padding-top:17px; padding-left:75px;"><button type="button" class="btn btn-primary">Submit</button></td>
            </tr>
        </table>
    </div>
    <div class="jpm-editor">
        <div class="jpm-editor-area">
            <div class="jpm-editor-tool">
                <button type="button" ng-click="editCtrl.addHeader()">header</button>
                <button type="button" ng-click="editCtrl.addContent()">content</button>
                <button type="button" ng-click="editCtrl.addScripture()">scripture</button>
                <button type="button" ng-click="editCtrl.showPreview()">preview</button>
                <button type="button" ng-click="editCtrl.showInstruction()">help</button>
            </div>
            <textarea id="editortextarea" class="form-control" ng-model="editCtrl.textSrc" rows="30"></textarea>
        </div>
    </div>
    <div class="jpm-editor-instruction" ng-show="editCtrl.shouldShowInstruction">
        <h4>Introducing The Prayer Request Editor</h4>
        <p>The purpose of this editor is to allow the creation of a prayer request. It also helps creates the structure for the internal storage of the document.</p>
        <p>Usage:  The usage for each button is fairly simple.  Simply select the text to modify and then click the button and it will automatically chang the text.  To make things easier, each of the modification will be shown on the right as a preview.</p>
        <p><b>header</b> - The header button creates the title for the document.  There may be more than one header in the document. To use, simply select the text to modify and then click the button</p>
        <p><b>content</b> - The content button wraps around each outline</p>
        <p><b>scripture</b>- The scripture button helps identify the scripture section of the document</p>
        
    </div>
    <div class="jpm-editor-preview" ng-show="editCtrl.shouldShowPreview">
        <strong>Preview</strong>
        <div ng-bind-html="editCtrl.preview"></div>
    </div>
</div>